@import url(fonts.css);
body{margin:5% ;font-family:'simple',Arial, Helvetica, sans-serif;font-size:15px;overflow-y:scroll;color:#000000;background-color:#ffffff}
.layout{width:100%;max-width:100%;}
.header{text-transform:uppercase;padding-bottom:8px;font-size:175%}
.menu{display:none;}
li.current a:link,li.current a:visited{color:rgba(0,0,0, 1);text-decoration:none;}
.content{padding-top:8px;}
.content p{margin-top:8px;margin-bottom:8px;}
.content table{margin-top:8px;margin-bottom:8px;width:auto;max-width:100%}
.content img{width:auto;max-width:100%;border:1px solid rgba(0,0,0, 1)}
.content input, .content textarea{color:#000000;font-family:'simple',Arial, Helvetica, sans-serif;font-size:100%;width:auto;max-width:100%;border:rgba(0,0,0, 1);background-color:rgba(255,255,255, 1);margin-top:4px;margin-bottom:4px;resize:none}
.content h1{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:130%;font-weight:normal}
.content h2{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:115%;font-weight:normal}
.content h3{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:100%;font-weight:normal}
.content h4{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:85%;font-weight:normal}
.content h5{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:70%;font-weight:normal}
.content h6{text-transform:uppercase;margin-top:8px;margin-bottom:8px;font-size:55%;font-weight:normal}
.content a:link,.content a:visited{color:rgba(0,0,0, 0.75);text-decoration:underline;}
.content a:hover{color:rgba(0,0,0, 0.75);text-decoration:none;}
.bottom{padding-top:8px;color:rgba(0,0,0, 0.75);font-size:80%}