body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 0px;
    padding-bottom: 20px;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-align {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smaller {
    font-size: 70%;
    font-weight: bold;
}

.spacer {
    padding: 5px;
}

.more {
    padding-bottom: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
          margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
          padding: 0;
    }
}

.ergebnistabelle th {
    background-color: black;
    color: white;
    font-size: xx-small;
}
.ergebnistabelle .thRotated {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}
.ergebnistabelle td {
    font-size: xx-small;
}
.ergebnistabelle .slhf180block {
    vertical-align: middle;
    text-align: center;
}
.ergebnistabelle .ergebnisBlock {
    vertical-align: middle;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    padding-right: 8px;
}
.ergebnistabelle .einzelblockEven {
    background-color: rgb(221, 255, 235);
    line-height: 25px;
}
.ergebnistabelle .einzelblockOdd {
    background-color: rgb(205, 250, 214);
    line-height: 25px;
}
.ergebnistabelle .doppelblockEven {
    background-color: rgb(213, 224, 252);
}
.ergebnistabelle .doppelblockOdd {
    background-color: rgb(195, 212, 255);
}
.ergebnistabelle .summaryBlock {
    background-color: black;
    color: white;
    font-style: italic;
    font-weight: bolder;
}

.ergebnistabelle .gegnerNamen {
    background-color: black;
    color: white;
    font-style: italic;
    font-weight: bolder;
    font-size: small;
    line-height: 25px;
}
