table {
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    border: solid 1px
}

th {
    text-align: center;
    padding: 8px;
}

.highlightedLeft {
    text-align: left;
    background-color: #AFD3E0;
}

td {
    padding: 8px;
}
