table {
    border-spacing: 0px;
    border-collapse: separate;
    width: 100%;
    border: solid 1px
}

.center {
    text-align: center;
    padding: 8px;
}

.left {
    text-align: left;
    padding: 8px;
}

.bold{
    font-weight: bold;
}

.smaller{
    font-size: smaller;
}

.xsmall {
    font-size: x-small;
}

.highlighted {
    background-color: #AFD3E0;
}

td {
    padding: 8px;
}

.borderedTopBottom {
    border: solid 1px black;
}

.tdeven{
    background-color: #ffffff;
}
.tdodd{
    background-color: #e4faff;
}
