body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top: 0px;
    padding-bottom: 20px;
}

.hero-unit {
    margin: 0 auto;
    max-width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/* Set widths on the navbar form inputs since otherwise they're 100% wide */
.navbar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6B94B4), color-stop(100%,#316594));
    height: 80px;
}

.navbar-brand {
    color: #FFFFFF !important;
}
.navbar-form input[type="text"],
.navbar-form input[type="password"] {
    width: 180px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-align {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smaller {
    font-size: 70%;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

.spacer {
    padding: 5px;
}

.more {
    padding-bottom: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Let the jumbotron breathe */
    .jumbotron {
          margin-top: 20px;
    }
    /* Remove padding from wrapping element since we kick in the grid classes here */
    .body-content {
          padding: 0;
    }
}

.spinnerContainer {
    visibility:hidden;
    position:absolute;
    background-color: rgba(157, 155, 155, 0.51);
    width:100%;
    height:100%
}
.spinnerContainer > img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px;
}

.logoLink {
    font-family: 'Yanone Kaffeesatz', arial, helvetica, sans-serif;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0, .4);
    line-height: 75px;
}

.uploadContainer {
    visibility:hidden;
    position:absolute;
    background-color: rgba(157, 155, 155, 0.51);
    width:100%;
    height:100%;
    z-index: 90000;
    text-align: center;
}
.uploadContainer > h1 {
    text-align:center;
    margin-top: 50%;
    vertical-align: middle;
}
.nachmeldungenError {
    border: solid 1px red;
    background-color: rgb(255, 219, 219);
}
.mytable td {
    padding: 5px;
}
.teamselect {
    width: 100%
}
.emailinput {
    width: 100%
}

.ergDisplay {
    font-size: 30px;
    font-weight: bold;
}
#ergSelection span {
    display:inline-block;
    vertical-align:middle
}
#ergSliderId .slider-selection {
    background: rgb(205, 250, 214);
}
#ergSliderId .slider-track-high {
    background: rgb(195, 212, 255);
}
