//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL - Authorization Failure
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
    body(style={"font-family": 'Arial, Helvetica'})
        .center(width='100%', style={"font-family": 'Calibri'}) Du bist nicht berechtigt diese Seite zu sehen...
