//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL - Login
        link(href='/bedelos/styles/bootstrap-editable.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/js.cookie.js')
        script(src='/bedelos/scripts/bootstrap-editable.min.js')
        title BDL Online Spielplan - Change Password
        script(type='text/javascript').
            function submit() {
                var oData = {
                    'username': document.getElementById('username').innerText,
                    'oldPassword': document.getElementById('oldPassword').value,
                    'newPassword': document.getElementById('newPassword').value,
                    'repeatNewPassword': document.getElementById('repeatNewPassword').value
                };
                $.ajax({
                    url: '/bedelos/changePassword',
                    type: 'POST',
                    data: JSON.stringify(oData),
                    dataType: 'json',
                    contentType : 'application/json',
                    statusCode: {
                        200: function (result) {
                            $('.form-group').removeClass('has-error').addClass('has-success');
                            $('#helpBlock').text("INFO: Passwortänderung war erfolgreich.");
                            $('#helpBlock').css('visibility', 'visible');
                            var sURL = Cookies.get("BDL_SESSION_REDIRECT");
                            Cookies.remove("BDL_SESSION_REDIRECT");
                            location.href = (sURL) ? sURL : "/bedelos/login";
                        },
                        480: function (result) {
                            $('.form-group').removeClass('has-success').addClass('has-error');
                            $('#helpBlock').text(result.responseText);
                            $('#helpBlock').css('visibility', 'visible');
                        },
                        481: function (result) {
                            $('.form-group').removeClass('has-success').addClass('has-error');
                            $('#helpBlock').text(result.responseText);
                            $('#helpBlock').css('visibility', 'visible');
                        },
                        500: function (result) {
                            $('.form-group').removeClass('has-success').addClass('has-error');
                            $('#helpBlock').text(result.responseText);
                            $('#helpBlock').css('visibility', 'visible');
                        }
                    }
                })
            }
    body(style={"font-family": 'Calibri'})
        table(cellpadding='8px', cellspacing='0', width='100%', style={'border': 'solid 0px'})
            form(id='loginform', name="login", action="/bedelos/login", method="post")
            tr
                th.center(colspan='2') Change Password
            tr
                th.borderedTopBottom.highlighted(colspan='2')
                    if (session && session.username)
                        div Passwort ändern für Benutzer '#{session.username}'
                    else
                        div Einloggen mit Benutzer / Passwort
            tr
                td(width='20%')
                    .form-group
                        label.control-label(for='username') Benutzer:
                td
                    .form-group
                        label(id='username')= username
            tr
                td
                    .form-group
                        label.control-label(for='oldPassword') Altes Passwort
                td
                    .form-group
                        input.form-control(type='password', id='oldPassword', aria-describedby='username', placeholder='Altes Passwort')
            tr
                td
                    .form-group
                        label.control-label(for='newPassword') Neues Passwort
                td
                    .form-group
                        input.form-control(type='password', id='newPassword', aria-describedby='username', placeholder='Neues Passwort')
            tr
                td
                    .form-group
                        label.control-label(for='repeatNewPassword') Passwort-Wiederholung
                td
                    .form-group
                        input.form-control(type='password', id='repeatNewPassword', aria-describedby='username', placeholder='Passwort Wiederholung')
            tr
                td
                    nbsp
                td
                    .form-group
                        input(type='button', onclick='submit()', value='Ändern...')
            tr
                td
                    nbsp
                td
                    .form-group
                        span.help-block(id='helpBlock', style={'font-weight':'bold', 'visibility': 'hidden'}) Login war nicht erfolgreich.
    script(type='text/javascript').
        $(document).keypress(function (e) {
            if (e.which == 13) {
                submit();
            }
        });
