//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL - Login
        link(href='/bedelos/styles/bootstrap-editable.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        link(href='/bedelos/styles/bedelos.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/js.cookie.js')
        script(src='/bedelos/scripts/bootstrap-editable.min.js')
        title BDL Online Spielplan - Spieler
        script(type='text/javascript').
            function logout() {
                $.ajax({
                    url: '/bedelos/login',
                    type: 'DELETE',
                    success: function(result) {
                        var sURL = Cookies.get("BDL_SESSION_REDIRECT");
                        Cookies.remove("BDL_SESSION_REDIRECT");
                        location.href = (sURL) ? sURL : "/bedelos/login";
                    }
                }).fail(function () {
                    $('.form-group').removeClass('has-success').addClass('has-error');
                    $('#helpBlock').text("ERROR: Logout war nicht erfolgreich.");
                    $('#helpBlock').css('visibility', 'visible');
                });
            }
            function submit() {
                var oData = {
                    'username': document.getElementById('username').value,
                    'password': document.getElementById('password').value
                };
                $.post("/bedelos/login",oData, function() {
                    $('.form-group').removeClass('has-error').addClass('has-success');
                    $('#helpBlock').text("INFO: Login war erfolgreich.");
                    $('#helpBlock').css('visibility', 'visible');
                    var sURL = Cookies.get("BDL_SESSION_REDIRECT");
                    Cookies.remove("BDL_SESSION_REDIRECT");
                    location.href = (sURL) ? sURL : "/bedelos/login";
                }, 'json').fail(function() {
                    $('.form-group').removeClass('has-success').addClass('has-error');
                    $('#helpBlock').text("ERROR: Login war nicht erfolgreich.");
                    $('#helpBlock').css('visibility', 'visible');
                });
            }
    body(style={"font-family": 'Calibri'})
        table(cellpadding='8px', cellspacing='0', width='100%', style={'border': 'solid 0px'})
            form(id='loginform', name="login", action="/bedelos/login", method="post")
            tr
                th.center(colspan='2') Loginform
            tr
                th.borderedTopBottom.highlighted(colspan='2')
                    if (session && session.username)
                        div Eingeloggt mit Benutzer '#{session.username}'
                    else
                        div Einloggen mit Benutzer / Passwort
            tr
                td(width='10%')
                    .form-group
                        label.control-label(for='username') Benutzer:
                td
                    .form-group
                        if (session && session.username)
                            label= session.username
                        else
                            input.form-control(type='text', id='username' aria-describedby='username', placeholder='bdl000', autofocus)
            tr
                td
                    .form-group
                        label.control-label(for='password') Passwort
                td
                    .form-group
                        if (session && session.username)
                            label ...
                        else
                            input.form-control(type='password', id='password' aria-describedby='username', placeholder='Passwort')
            tr
                td
                    nbsp
                td
                    .form-group
                        if (session && session.username)
                            input(type='button', onclick='logout()', value='Logout')
                        else
                            input(type='button', onclick='submit()', value='Login')
            tr
                td
                    nbsp
                td
                    .form-group
                        span.help-block(id='helpBlock', style={'font-weight':'bold', 'visibility': 'hidden'}) Login war nicht erfolgreich.
if (session && session.username)
    script(type='text/javascript').
        $(document).keypress(function (e) {
            if (e.which == 13) {
                logout();
            }
        });
else
    script(type='text/javascript').
        $(document).keypress(function (e) {
            if (e.which == 13) {
                submit();
            }
        });
