//
   Created by d032233 on 27.04.2016.
html
    head

        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/moment-with-locales.js')
        script(src='/bedelos/scripts/transition.js')
        script(src='/bedelos/scripts/collapse.js')
        script(src='/bedelos/scripts/js.cookie.js')
        script(src='/bedelos/scripts/jstree.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        script(src='/bedelos/scripts/bootstrap-datepicker.js')
        script(src='/bedelos/locales/bootstrap-datepicker.de.min.js')
        script(src='/bedelos/scripts/bootstrap-typeahead.js')
        link(href='/bedelos/styles/jstree.style.css', rel='stylesheet')
        link(href='/bedelos/styles/bootstrap-datepicker3.min.css', rel='stylesheet')
        title BDL Online Team Spielplan Selection

    body(style={"font-family": 'Calibri'})
        input(id='teams', type='hidden', value=sTeams)
        .container
            .row
                .col-xs-2
                    label(for='heim') Team
                .col-xs-3
                    .form-group
                        input.typeahead(id='heim', type='text', data-provide='typeahead')
                        input.typeahead(id='send', type='button', onclick='redirect();', value='Suchen')
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        nbsp
        form(id='submit', action='', method='post')
    script(type='text/javascript').

        function redirect() {
            var heim = $('#heim').typeahead('getActive');
            if (heim && heim.id) {
                $('#submit').attr('action', '/bedelos/teamspielplan/team/' + heim.id);
                $('#submit').attr('method', 'post');
                $('#submit').submit();
            }
        };

        var $input = $('.typeahead');
        var aTeams = JSON.parse($('#teams').val());
        $input.typeahead({
            source: aTeams,
            autoSelect: true
        });

        $(document).keyup(function(e) {
            if (e.keyCode == 13) { // escape key maps to keycode `27`
                redirect();
            }
        });

