html
    head
        link(href='/bedelos/styles/bootstrap.min.css', rel='stylesheet')
        script(src='/bedelos/scripts/jquery-2.1.4.min.js')
        script(src='/bedelos/scripts/js.cookie.js')
        script(src='/bedelos/scripts/bootstrap.min.js')
        title BDL Online Team Meldung - Geschlossen
    body(id='body')
        form(id='meldungsform')
            .container
                h3 Online Team Meldung
                p Die Möglichkeit Meldungen für die kommende Saison zu anzugeben endete am 14.07.
                p Wir freuen uns auf alle Teams.
                p Viele Grüße, Eure BDL
