//
   Created by d032233 on 27.04.2016.
html
    head
        title BDL Online Spielplan - Updates
    body(style={"font-family": 'Calibri'})
        table(cellpadding='8', cellspacing='0', width='100%', style={'border': 'solid 1px'})
            thead
                tr(style={"background-color": '#AFD3E0'})
                    th File
            tbody
                each file, i in processedFiles
                    tr(align='center')
                        td= file
