/*
* Styles added to make the Skeleton 2 Boilerplate funtion as a GetSimple Theme
* 2014, Timbow
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* Use this file for your own styles
*/

#container {
	padding-top: 2rem;
	margin-bottom: 2rem;
}

header a, header a:hover, footer a {
	text-decoration: none;
	color: inherit;
}

header hr {
	margin-bottom: 0;
}

nav ul {
	text-align: center;
	margin: 0;
}

nav li {
	display: inline;
	text-transform:uppercase;
	font-size: 2rem;
	line-height: 4rem
}

nav a {
	color: inherit;
	display: inline-block;
	text-decoration:none;
	padding:0 2rem;
}

nav li a:hover, nav li a:focus {
	color:#0FA0CE;
}

nav li.current a  {
	color:#1EAEDB;
}

footer {
	text-align:center;
	font-size:smaller;
}